
<div class="posts-show-item">
    <p>
		<%= @post.content %>
    </p>
<div class="posts-item">
    <%= @post.created_at %>
    <p><%= link_to("編集", "/posts/#{@post.id}/edit") %></p>
    <p><%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %></p>
</div>




